doctype HTML
html
    head
        title= "Planning Poker"
        script.
          window.config = {port: #{config.port}}
        include ../js-dependencies.html
        link(rel='stylesheet',href='/src/style.css')
    body(data-dom-widget='pageTurner')
        div(data-dom-widget='showRoom',data-url=room.url,data-name=room.name,data-ref=room.ref)
        div(data-dom-widget='listParticipants')
